body {
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    font-style: italic;
}

h4 {
    margin-top: 2rem;
}

input,
select,
textarea {
    margin-bottom: 1rem;
}

.link-as-button {
    width: max-content;
}

.listing {
    /* background-color: whitesmoke; */
    border: solid lightgray 1px;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.listing div {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}

.thumbnail-image {
    width: 25vw;
    /* height: auto; */
}

.detail-image {
    height: 50vh;
    padding-bottom: 2rem;
}

.label {
    font-weight: bold;
}

.message {
    background-color: whitesmoke;
    padding: 1rem;
    margin-top: 1rem;
}

.error {
    color: red;
    font-style: italic;
}

.comment-body {
    font-style: italic;
}

blockquote {
    /* border: solid lightgray 1px; */
    background-color: whitesmoke;
    padding: 1rem;
    margin-top: 1rem;
}

form label,
form input[type="submit"] {
    display: block;
}



/* TEMP FOR TESTING */
.dev {
    color: green;
}


/* @media(min-width: 1200px) {
    blockquote {
        max-width: 75vw;
    }
} */