<!-- Reusable block that we can use in multiple locations using 'include': https://bit.ly/3b6Ocbc -->

{% block bidding_controls %}

    <!-- If the listing is active, show the bid form  -->
    {% if listing.is_active %}
    <h3 id="bid">Bid Now</h3>
            <p><span class="label">Starting price: </span>${{listing.starting_price}}</p>
            <p><span class="label">Current price: </span>${{listing.bid_price}}</p>
        {% if user.is_authenticated %}
            <form action="{% url 'bid_add' %}" method="POST" class="bid-form">
                {% csrf_token %}
                {{ bid_form}}
                <input type="submit" class="btn btn-primary link-as-button">
            </form>
        {% else %}
            <!-- Since we can't call login_view with @login_required, we have to pass the next param in the URL -->
            <p>You must <a href="{% url 'login' %}?next=listing/{{listing_id}}%23bid">log in</a> to bid.</p>
        {% endif %}

    <!-- If the listing is inactive, show an "auction closed" message -->
    {% else %}
        <h3 id="bid">Auction closed</h3>
        <p><span class="label">Starting price: </span>${{listing.starting_price}}</p>
        <p><span class="label">Final price: </span>${{listing.bid_price}}</p>
        {% if listing.winner == request.user  %}
            <p>Congratulations! You won this item.</p>
        {% else %}
            <p>You did not win this item.</p>
        {% endif %}
    {% endif %}

{% endblock %}