{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{title}}</h2>
{% for listing in listings %}
<div class="listing">
    <img src="{{listing.image}}" alt="product image" class="thumbnail-image">
    <div>
        <h3>{{listing.title}}</h3>
        <p><span class="label">Price:</span> ${{listing.bid_price}} </p>
        <p>{{listing.description}}</p>
        <p><span class="label">Listed:</span> {{listing.timestamp}}</p>
        <a href="{% url 'listing' listing.id %}">View Listing</a>
    </div>
</div>
{% endfor %}
{% endblock %}