{% extends 'auctions/layout.html' %}

{% block body %}

<!-- Status messages -->
{% if message %}
<!-- TO DO:  style error vs. confirmation messages -->
    <div class="message">
        <p class="error">{{ message }}</p>
    </div>
{% endif %}    

<!-- Listing Info -->
<h2>{{listing.title}}</h2>
<h4>${{listing.bid_price}}</h4>
<!-- CITATION:  learned how to use include from: https://bit.ly/3b6Ocbc -->
{% include 'auctions/watchlist_controls.html' %}
<p><span class="label">Listed:</span> {{listing.owner}} on {{listing.timestamp}}</p>
<img src="{{listing.image}}" alt="product image" class="detail-image">
<p>{{listing.description}}</p>



<!-- Owner's auction controls: -->
{% if user == listing.owner %}
    <h4>Manage Auction</h4>
    <!-- Close or cancel an open auction -->
    {% if listing.is_active %}
        {% if listing.starting_price == listing.bid_price %}
            <a href="{% url 'close_listing' listing_id %}">Cancel auction</a>
        {% else %}
            <a href="{% url 'close_listing' listing_id %}">Accept bid and close auction</a>
        {% endif %}
    <!-- Show the winner, if any -->
    {% else %}
        {% if listing.starting_price == listing.bid_price %}
            <p>Auction canceled. There is no winner.</p>
        {% else %}
            <p><span class="label">Winner:</span> {{listing.winner}}</p>
        {% endif %}
    {% endif %}

<!-- Bidder's auction controls -->
{% else %}
    <!-- Show the bid form -->
    {% if listing.is_active %}
    <h4>Bid Now</h4>
        {% if user.is_authenticated %}
            <form action="{% url 'bid_add' %}" method="POST">
                {% csrf_token %}
                {{ bid_form}}
                <input type="Submit" name="Bid Now">
            </form>
        {% else %}
            <p>You must <a href="{% url 'login' %}">log in</a> to bid.</p>
        {% endif %}
    <!-- Show an "auction closed" message -->
    {% else %}
        <h4>Auction closed</h4>
        {% if listing.winner == request.user  %}
            <p>Congratulations! You won this item.</p>
        {% else %}
            <p>You did not win this item.</p>
        {% endif %}
    {% endif %}

{% endif %}

<!-- Comments block -->
<h4>Comments</h4>
    {% if user.is_authenticated %}
        <form action="{% url 'comment_add' %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit">
        </form>
    {% else %}
        <p>You must <a href="{% url 'login' %}">log in</a> to post comments.</p>
    {% endif %}
{% for comment in comments %}
<blockquote>
    <p class="comment-body">{{comment.body}}</p>
    <p>- {{comment.commenter}}, {{comment.timestamp}}</p>
</blockquote>
{% endfor %}

{% endblock %}