{% extends 'auctions/layout.html' %}

{% block body %}

<!-- Listing Info -->
<h2>{{listing.title}}</h2>
<h4>${{listing.bid_price}}</h4>
<!-- CITATION:  learned how to use include from: https://bit.ly/3b6Ocbc -->
{% include 'auctions/watchlist_controls.html' %}
<p><span class="label">Listed:</span> {{listing.owner}} on {{listing.timestamp}}</p>
<img src="{{listing.image}}" alt="product image" class="detail-image">
<p>{{listing.description}}</p>

<!-- Owner's auction controls: -->
{% if user == listing.owner %}
    <!-- Close or cancel an open auction -->
    {% if listing.is_active %}
        {% if listing.starting_price == listing.bid_price %}
            <a href="{% url 'close_listing' listing_id %}">Cancel auction</a>
        {% else %}
            <a href="{% url 'close_listing' listing_id %}">Accept bid and close auction</a>
        {% endif %}
    <!-- Show the winner, if any -->
    {% else %}
        {% if listing.starting_price == listing.bid_price %}
            <p>Auction canceled. There is no winner.</p>
        {% else %}
            <p><span class="label">Winner:</span> {{listing.winner}}</p>
        {% endif %}
    {% endif %}

<!-- Bidder's auction controls -->
{% else %}
    <!-- Prompt user to bid on active auction or login -->
    {% if listing.is_active %}
        <!-- TO DO:  replace is_authenticated with @login_required -->
        <h4>Bid Now</h4>
        <p class="dev">Bid form goes here</p>
    <!-- Show an "auction closed" message -->
    {% else %}
        {% if listing.winner == request.user  %}
            <p>Congratulations! You won this auction.</p>
        {% else %}
            <p>This auction is closed.</p>
        {% endif %}
    {% endif %}

{% endif %}

<!-- Comments block -->
<h4>Comments</h4>
    <form action="{% url 'comment_add' %}" method="POST">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit">
    </form>
{% for comment in comments %}
<blockquote>
    <p class="comment-body">{{comment.body}}</p>
    <p>- {{comment.commenter}}, {{comment.timestamp}}</p>
</blockquote>
{% endfor %}

{% endblock %}