{% block owners_controls %}

    <h3>Manage Auction</h3>
    <p><span class="label">Number of bids: </span>{{listing.bid_count}}</p>
    <p><span class="label">Starting price: </span>${{listing.starting_price}}</p>
    <!-- Close or cancel an open auction -->
    {% if listing.is_active %}
        <p><span class="label">Current bid: </span>${{listing.max_bid}}</p>
        {% if listing.bid_count == 0 %}
            <a href="{% url 'close_listing' listing_id %}" class="btn btn-primary link-as-button">Cancel auction</a>
        {% else %}
            <a href="{% url 'close_listing' listing_id %}" class="btn btn-primary link-as-button">Accept bid and close auction</a>
        {% endif %}
    <!-- Show the winner, if any, of a closed auction -->
    {% else %}
        {% if listing.bid_count == 0 %}
            <p>Auction canceled. There is no winner.</p>
        {% else %}
            <p><span class="label">Final price: </span>${{listing.max_bid}}</p>
            <p><span class="label">Winner:</span> {{listing.winner}}</p>
        {% endif %}
    {% endif %}
  
{% endblock %}