{% extends "auctions/layout.html" %}

{% block body %}
<h2>Your Watchlist</h2>
{% for watchlist_item in watchlist_items %}
<div class="listing">
    <img src="{{watchlist_item.listing.image}}" class="thumbnail-image">
    <div>
        <h3>{{watchlist_item.listing.title}}</h3>
        <p><span class="label">Price:</span> ${{watchlist_item.listing.starting_price}} <span class="dev">TO DO: current price</span>
        </p>
        <p>{{watchlist_item.listing.description}}</p>
        <p><span class="label">Listed:</span> {{watchlist_item.listing.timestamp}}</p>
        <p class="dev">TO DO:  Add status (display it, and prevent bids)</p>
        <a href="{% url 'listing' watchlist_item.listing.id %}">View Listing</a>
    </div>
</div>
{% endfor %}
{% endblock %}