{% extends "auctions/layout.html" %}

{% block body %}
<h2>Your Watchlist</h2>
{% for watchlist_item in watchlist_items %}
<div class="listing">
    <img src="{{watchlist_item.listing.image}}" class="thumbnail-image">
    <div>
        <h3>{{watchlist_item.listing.title}}</h3>
        {% if watchlist_item.listing.is_active %}
            <p><span class="label">Status:</span> Active</p>
        {% else %}
            <p><span class="label">Status:</span> Closed</p>
        {% endif %}
        <p><span class="label">Price:</span> ${{watchlist_item.listing.bid_price}}</p>
        <p>{{watchlist_item.listing.description}}</p>
        <p><span class="label">Listed:</span> {{watchlist_item.listing.timestamp}}</p>
        <a href="{% url 'listing' watchlist_item.listing.id %}">View Listing</a>
    </div>
</div>
{% endfor %}
{% endblock %}